.text-input {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.text-input input,
.text-input textarea {
    border: 1px solid black;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 3px solid;
    padding-bottom: 3px;
    padding-left: 4px;
    border-image: linear-gradient(45deg, tomato, rgb(2, 255, 158));
    border-image-slice: 1;
    font-size: 17px;
}